certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Compress==1.4.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mutagen==1.42.0
Naked==0.1.31
pycryptodome==3.7.3
PyYAML==5.1
requests==2.21.0
shellescape==3.4.1
soupsieve==1.8
urllib3==1.24.1
Werkzeug==0.15.1
